# Binary output
**/bin/
**/bin-int/
Output/
!vendor/premake/bin/

# Prehistoric Engine files
*.log

# Github and Visual Studio files
.git/
.vs/

# Other VS files
*.user
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user